.sku-prop-content {
    text-align: center;
}
.check-box_inr_size {
    background: #cf5815;
    color: #303837;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    -moz-user-select: none;
    -ms-user-select: none;
    min-width: 40px;
    max-width: 388px;
    padding: 0px 8px;
    border: 1px solid #dadada;
}
.size.size_active {
    color: #fff;
    /*background: green;*/
}
/*--------------
16.1 Left column
*/
#left_column .left-module {
    margin-bottom: 30px;
    overflow: hidden;
}

#left_column .left-module .owl-dots {
    bottom: 5px;
}

#left_column .left-module:last-child {
    margin-bottom: 0;
}

#left_column .left-module img {
    margin: 0 auto;
}

#left_column .block {
    /*border: 1px solid #eaeaea;*/
}

#left_column .block .title_block {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #eaeaea;
    padding-left: 0px;
    text-transform: uppercase;
    padding-top: 11px;
    padding-bottom: 12px;
}

#left_column .block .block_content {
    padding: 0px 0px;
}

.layered_subtitle {
    color: #666;
    font-size: 16px;
    padding-bottom: 4px;
    text-transform: uppercase;
}

.layered-content {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 15px;
    margin-bottom: 15px;
    /*padding-top: 15px;*/
}

.layered-content {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.layered-category .layered-content {
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
}

.tree-menu li {
    line-height: 24px;
}

.tree-menu li:hover > a,
.tree-menu li.active > a,
.tree-menu li:hover > span:before,
.tree-menu li.active > span:before {
    color: #13007d;
}

.tree-menu > li > span:before {
    content: "\f105";
    font-size: 14px;
    display: inline-block;
    text-align: right;
    color: #666;
    font-family: "FontAwesome";
    padding-right: 12px;
    color: #ccc;
    font-weight: bold;
    cursor: pointer;
}

.tree-menu > li > span.open:before {
    content: "\f107";
    font-size: 14px;
    display: inline-block;
    text-align: right;
    color: #666;
    font-family: "FontAwesome";
    padding-right: 12px;
    color: #ccc;
    font-weight: bold;
    cursor: pointer;
}

.tree-menu > li > ul {
    padding-left: 17px;
    display: none;
}

.tree-menu > li > ul > li {
    border-bottom: 1px dotted #eaeaea;
}

.tree-menu > li > ul > li:last-child {
    border: none;
}

.tree-menu > li > ul > li > span:before {
    content: "\f0da";
    font-size: 14px;
    display: inline-block;
    text-align: right;
    color: #666;
    font-family: "FontAwesome";
    padding-right: 12px;
    color: #ccc;
}

/** FILTER PRICE **/
.amount-range-price {
    padding: 5px 0;
}

.slider-range-price {
    height: 7px;
    background: #13007d;
    border: none;
    border-radius: 0;
}

.slider-range-price .ui-widget-header {
    background: #ccc;
    height: 7px;
}

.slider-range-price .ui-slider-handle {
    border: none;
    border-radius: 0;
    background: url("../images/range-icon.png") no-repeat;
    cursor: pointer;
}

.check-box-list {
    overflow: hidden;
    max-height: 17em;
    overflow-y: auto;
}


.check-box-list li {
    line-height: 24px;
}

.check-box-list label {
    display: inline-block;
    cursor: pointer;
    line-height: 12px;
}

.check-box-list label:hover {
    color: #13007d;
}

.check-box-list input[type="checkbox"] {
    display: none;
}

.check-box-list input[type="checkbox"] + label span.button {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 13px;
    background: url("../images/checkbox.png") no-repeat;
    padding: 0;
    border: none;
}

.check-box-list input[type="checkbox"]:checked + label span.button {
    background: #13007d url("../images/checked.png") no-repeat center center;


}

.check-box-list input[type="checkbox"]:checked + label {
    color: #13007d;
}

.check-box-list label span.count {
    color: #a4a4a4;
    margin-left: 2px;
}

.filter-color ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -5px;
}

.filter-color li {
    display: inline;
    padding: 0;
    margin: 0;
    line-height: normal;
    float: left;
    padding: 5px;
}

.filter-color li label {
    border: 1px solid #eaeaea;
    /*  width: 20px;
      height: 20px;
      padding-top: 6px;
      padding-left: 6px;*/

    padding: 10px;
    float: left;
}

.filter-color li input[type="checkbox"] + label span.button {
    background: none;
    margin: 0;
}

.filter-color li input[type="checkbox"]:checked + label {
    border-color: #8ed4e6;
}

.filter-size {
    max-height: 200px;
    overflow-y: auto;
}

.filter-size li {
    width: 50%;
    float: left;
}

.owl-controls .owl-dots {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.owl-controls .owl-dots .owl-dot {
    width: 14px;
    height: 14px;
    background: #adadad;
    display: inline-block;
    margin: 0 6px;
    border-radius: 90%;
}

.owl-controls .owl-dots .owl-dot.active {
    background: #ff3366;
}

/** special-product**/
.products-block {
    overflow: hidden;
}

.products-block .products-block-left {
    width: 75px;
    float: left;
}

.products-block .products-block-right {
    margin-left: 85px;
}

.products-block .product-price {
    font-size: 18px;
    color: #13007d;
    font-weight: bold;
    line-height: 35px;
}

.products-block .product-star {
    color: #ffffff;
}

.products-block-bottom {
    padding-top: 15px;
}

.products-block .link-all {
    height: 35px;
    width: 120px;
    border: 1px solid #8ed4e6;
    line-height: 33px;
    font-size: 14px;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    text-align: center;
    clear: both;
    background: #13007d;
    color: #fff;
}

.products-block .link-all:hover {
    opacity: 0.8;
}

.products-block .link-all:after {
    font: normal normal normal 13px/1 FontAwesome;
    content: "\f101";
    margin-left: 10px;
}

.best-sell li {
    border-bottom: 1px solid #eaeaea;
    padding: 20px 0;
}

.best-sell li:first-child {
    padding-top: 0;
}

.best-sell li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.owl-best-sell {
    padding-bottom: 35px;
}

#left_column .block .block_content.product-onsale {
    padding: 15px 20px;
}

#left_column .block .block_content.product-onsale .product-list {
    padding-bottom: 25px;
}

#left_column .block .block_content.product-onsale .product-list .product-container {
    border: none;
}

#left_column .block .block_content.product-onsale .product-list .product-container .right-block {
    padding: 0;
}


ul.sub-cat {
    margin-left: 8px;
}

.panel-heading {
    padding: 10px 15px;
}

/*.check-box-list label {*/
/*font-size: 12px;*/
/*}*/

.panel-body {
    padding: 9px 2px;
}

.range-inputs {
    margin-top: 4px;
}

.range-inputs-min, .range-inputs-max {
    display: inline-block;
    width: 40%;
}

.range-inputs-min {
    float: left;
}

.range-inputs-max {
    float: right;
}

.toPrice {
    margin-left: 13px;
}

input.range-inputs-input {
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    width: 100%;
    padding: 0.2em;
    box-sizing: border-box;
}

.cart_navigation {
    margin-top: 10px;
    /*float: left;*/
    width: 100%;
}

.cart_navigation a.next-btn {
    float: right;
    background: #13007d;
    color: #fff;
    border: 1px solid #13007d;
}

.cart_navigation a {
    padding: 10px 20px;
    border: 1px solid #13007d;
}

.cart_navigation a.prev-btn {
    float: left;
}

.cart_navigation a:hover {
    background: #8ed4e6;
    color: #fff;
}

.cart_navigation a.prev-btn {
    float: left;
    border: 0;
    background: #f68c26;
    color: #fff;
    font-size: 16px;
    border-radius: 2px;
}

a:hover {
    color: #13007d;
    text-decoration: none;
    transition: all 0.25s;
}